<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static.css/creditcss.css">

    <title>Alpha theaters </title>
</head>
<body>
<div class="container-fluid main-head ">
    <div class="container-fluid view-user text-center">
        <button type="button" class="btn btn-large btn"><a href="/stock/allproducts">Display All Products</a></button>
        <button type="button" class="btn btn-large btn"><a href="/stock/stockin">STOCK IN</a></button>
        <button type="button" class="btn btn-large btn"><a href="/stock/stockout">STOCK OUT</a></button>
        <button type="button" class="btn btn-large btn"><a href="/stock/replacement">In Replacement</a></button>
    </div>
    <h1>
        Alpha Theaters
    </h1>
    <h3>Movie search</h3>
</div>
<div class="container-fluid view-user text-center">
    <button type="button" class="btn btn-large"><h6 ></h6></button>
</div>
<div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-2">
                <h5>Movies Search</h5>
                <form action="/stock/stockin"  method="post" class="pt-2" >
                    <div class="col-md-3">
                        <label for="productName">Choose your browser from the list:</label>
                        <input list="productNames" name="productName" id="productName">
                        <datalist id="productNames">
                            <option th:each="user :${list}" th:text="${user}"></option>
                        </datalist>
                    </div>
                    <div class="col-md-3">
                        <label> Quantity: <input type="number" name="quantity"> </label>
                    </div>
                    <div class="col-md-3">
                        <label>
                            Date for StockIn : <input type="datetime-local"  name="insertionDate">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>
                            Seller : <input type="text" name="seller">
                        </label>
                    </div>
                    <div>
                        <input type="submit" value="Submit" >
                    </div>
                </form>

            </div></div></div></div>


    <footer class="home-footer">
    </footer>
</body>
</html>